.action-buttons{
  display: flex;
  gap: 16px;
  width: 100%;
  justify-content: center;
  margin-bottom: 4%;
}
button{
    padding: 15px 10px;
    font-size: 20px;
    width: 30%;
    border-radius: 8px;

}

.cancel-button{
    color: rgba(176, 176, 176, 0.734);
    border:2px solid rgba(128, 128, 128, 0.187) ;
    background-color: rgba(255, 255, 255, 0.416);
}

.save-button{
    background: linear-gradient(to right ,#2065d5a8, #0004ff96, #0a52e9de, #544bffd1);
    color: white;
    box-shadow: 0px 5px 11px rgb(97 169 236 / 50%);
    border: none;
    transition: transform 0.3s ease-in-out;
}

.save-button:hover{
    transform: scale(1.1);
}