.search-input {
    border: none;
    width: 92%;
    height:100%;
}
.search-input:focus {
    outline: none;
}

.search-bar:focus-within {
    outline: 2px solid black;
    border-radius: 4px;
  }
.search-bar{
    padding: 4px;
    width: 80%;
    height: 40px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.345);
}

.search-icon{
   position: relative;
   top:4px;
   padding-left: 4px;
}
.search-bar-box{
    height: 100%;

}


