@import url('https://fonts.googleapis.com/css2?family=Acme&family=Amiri&family=Caveat&family=Caveat+Brush&family=Chewy&family=Josefin+Sans&family=Pacifico&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&family=Rambla&family=Reem+Kufi&family=Reggae+One&family=Skranji&display=swap');

* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', cursive;
  letter-spacing: 2px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  border: 4px solid rgb(178, 178, 178);
  width: 60%;
  padding: 12px;
  margin: 4%;
}


header{
    align-self: flex-start;

}

h2{
    border-left: 6px solid rgb(156, 156, 156);
    border-bottom: 4px solid rgb(204, 204, 9);
    padding-left: 12px;
    padding-bottom: 12px;
    
}

@media only screen and (max-width : 753px) {
  .container{
    width: 100%;
  }
}
